= form_for(@profile) do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message
  .row
    .col-sm-3
      %h3 Personal
      .field
        = f.label :first_name
        %br/
        = f.text_field :first_name
      .field
        = f.label :last_name
        %br/
        = f.text_field :last_name
      .field
        = f.label :age
        %br/
        = f.number_field :age
      .field
        = f.label :address_l1
        %br/
        = f.text_field :address_l1
      .field
        = f.label :address_l2
        %br/
        = f.text_field :address_l2
      .field
        = f.label :city
        %br/
        = f.text_field :city
      .field
        = f.label :state
        %br/
        = f.text_field :state
      .field
        = f.label :zipcode
        %br/
        = f.number_field :zipcode
    .col-sm-3
      %h3 Communication
      .field
        = f.label :phone_number
        %br/
        = f.number_field :phone_number
      .field
        = f.label :phone_model
        %br/
        = f.text_field :phone_model
    .col-sm-3
      %h3 Education
      .field
        = f.label :education_level
        %br/
        = f.text_field :education_level
      .field
        = f.label :school
        %br/
        = f.text_field :school
      .field
        = f.label :grad_year
        %br/
        = f.date_select :grad_year
      .field
        = f.label :major
        %br/
        = f.text_field :major
      %h3 Physical
      .field
        = f.label :lift_weight
        %br/
        = f.number_field :lift_weight
    .col-sm-3
      %h3 Transportation
      .field
      .field
        = f.label :car
        = f.check_box :car
      .field
        = f.label :insurance
        = f.check_box :insurance
        %br/
        = f.label :driver_license
        %br/
        = f.number_field :driver_license
      .field
        = f.label :car_make
        %br/
        = f.text_field :car_make
      .field
        = f.label :car_model
        %br/
        = f.text_field :car_model
      .field
        = f.label :car_year
        %br/
        = f.date_select :car_year
      .field
        = f.label :bike
        %br/
        = f.check_box :bike
      .field
        = f.label :moped
        %br/
        = f.check_box :moped
      .field
        = f.label :motorcycle
        %br/
        = f.check_box :motorcycle
        %br/
      .actions
        = f.submit
