%p#notice= notice
%h1 Listing Profiles
%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Age
      %th Address l1
      %th Address l2
      %th City
      %th State
      %th Zipcode
      %th Phone number
      %th Phone model
      %th Driver license 
      %th Insurance
      %th Car
      %th Car make
      %th Car model
      %th Car year
      %th Education level
      %th School
      %th Grad year
      %th Major
      %th Lift weight
      %th Tote number
      %th Tote reason
      %th Discovery
      %th Bike
      %th Moped
      %th Motorcycle
      %th References
      %th{:colspan => "3"}
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.first_name
        %td= profile.last_name
        %td= profile.age
        %td= profile.address_l1
        %td= profile.address_l2
        %td= profile.city
        %td= profile.state
        %td= profile.zipcode
        %td= profile.phone_number
        %td= profile.phone_model
        %td= profile.driver_license
        %td= profile.insurance
        %td= profile.car
        %td= profile.car_make
        %td= profile.car_model
        %td= profile.car_year
        %td= profile.education_level
        %td= profile.school
        %td= profile.grad_year
        %td= profile.major
        %td= profile.lift_weight
        %td= profile.tote_number
        %td= profile.tote_reason
        %td= profile.discovery
        %td= profile.bike
        %td= profile.moped
        %td= profile.motorcycle
        %td= profile.references
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_profile_path(profile)
        %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Profile', new_profile_path
