<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Address l1:</strong>
  <%= @profile.address_l1 %>
</p>

<p>
  <strong>Address l2:</strong>
  <%= @profile.address_l2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @profile.zipcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Phone model:</strong>
  <%= @profile.phone_model %>
</p>

<p>
  <strong>Driver license:</strong>
  <%= @profile.driver_license %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @profile.insurance %>
</p>

<p>
  <strong>Car:</strong>
  <%= @profile.car %>
</p>

<p>
  <strong>Car make:</strong>
  <%= @profile.car_make %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @profile.car_model %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @profile.car_year %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @profile.education_level %>
</p>

<p>
  <strong>School:</strong>
  <%= @profile.school %>
</p>

<p>
  <strong>Grad year:</strong>
  <%= @profile.grad_year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @profile.major %>
</p>

<p>
  <strong>Lift weight:</strong>
  <%= @profile.lift_weight %>
</p>

<p>
  <strong>Tote number:</strong>
  <%= @profile.tote_number %>
</p>

<p>
  <strong>Tote reason:</strong>
  <%= @profile.tote_reason %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @profile.discovery %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @profile.bike %>
</p>

<p>
  <strong>Moped:</strong>
  <%= @profile.moped %>
</p>

<p>
  <strong>Motorcycle:</strong>
  <%= @profile.motorcycle %>
</p>

<p>
  <strong>References:</strong>
  <%= @profile.references %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
