.row
  .col-sm-6.col-md-4
    .thumbnail
      = check_box_tag(:company)
      = image_tag("bellhops.jpg")
  .col-sm-6.col-md-4
    .thumbnail
      = check_box_tag(:company)
      = image_tag("kanga.jpg")
  .col-sm-6.col-md-4
    .thumbnail
      = check_box_tag(:company)
      = image_tag("lyft.png")
.row
  .col-sm-6.col-md-4
    .thumbnail
      = check_box_tag(:company)
      = image_tag("Uber.png")