.row
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("taskrabbit.png")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("bellhops.jpg")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "..."}
        .caption
          = image_tag("deliv.png")
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "..."}
        .caption
          = image_tag("favor.jpg")
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("jobrunner.jpg")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("kanga.jpg")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
.row
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("lyft.png")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag("Uber.png")
      .caption
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button