.jumbotron
  %center
    = image_tag('gigpool.png')
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-success
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          Step 1: Click All That Apply
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        .row
          %ul.container-fluid
            - @skill.each do |skill|
              .col-md-3
                = check_box_tag(:skill)
                = skill.name
          %br/
  .panel.panel-success
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          Step 2: Choose your desired employers
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        = render 'companies'
  .panel.panel-success
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          Step 3: Application / Create Profile
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        = render 'profiles/form'