.jumbotron
  %center
    %h1 Welcome to GIGPool
    %p Follow the steps below to explore opportunities and apply
    %p= link_to "Manage Work", manage_work_path, class: "btn btn-info"
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          Step 1: Click All That Apply
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        .row
          %ul.container-fluid
            - @skill.each do |skill|
              .col-md-3
                = check_box_tag(:skill)
                = skill.name
          %br/
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          Step 2: Choose your desired employers
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          Step 3: Application / Create Profile
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        = form_for(@profile) do |f|
          - if @profile.errors.any?
            #error_explanation
              %h2
                = pluralize(@profile.errors.count, "error")
                prohibited this profile from being saved:
              %ul
                - @profile.errors.full_messages.each do |message|
                  %li= message
          .row
            .col-sm-3
              %h3 Personal
              .field
                = f.label :first_name
                %br/
                = f.text_field :first_name
              .field
                = f.label :last_name
                %br/
                = f.text_field :last_name
              .field
                = f.label :age
                %br/
                = f.number_field :age
              .field
                = f.label :address_l1
                %br/
                = f.text_field :address_l1
              .field
                = f.label :address_l2
                %br/
                = f.text_field :address_l2
              .field
                = f.label :city
                %br/
                = f.text_field :city
              .field
                = f.label :state
                %br/
                = f.text_field :state
              .field
                = f.label :zipcode
                %br/
                = f.number_field :zipcode
            .col-sm-3
              %h3 Communication
              .field
                = f.label :phone_number
                %br/
                = f.number_field :phone_number
              .field
                = f.label :phone_model
                %br/
                = f.text_field :phone_model
            .col-sm-3
              %h3 Education
              .field
                = f.label :education_level
                %br/
                = f.text_field :education_level
              .field
                = f.label :school
                %br/
                = f.text_field :school
              .field
                = f.label :grad_year
                %br/
                = f.date_select :grad_year
              .field
                = f.label :major
                %br/
                = f.text_field :major
              %h3 Physical
              .field
                = f.label :lift_weight
                %br/
                = f.number_field :lift_weight
              .field
                = f.label :tote_number
                %br/
                = f.number_field :tote_number
              .field
                = f.label :tote_reason
                %br/
                = f.text_area :tote_reason
              .field
                = f.label :discovery
                %br/
                = f.text_field :discovery
            .col-sm-3
              %h3 Transportation
              .field
                .field
                  = f.label :car
                  %br/
                  = f.check_box :car
                .field
                  = f.label :insurance
                  %br/
                  = f.check_box :insurance
                = f.label :driver_license
                %br/
                = f.number_field :driver_license
              .field
                = f.label :car_make
                %br/
                = f.text_field :car_make
              .field
                = f.label :car_model
                %br/
                = f.text_field :car_model
              .field
                = f.label :car_year
                %br/
                = f.date_select :car_year
              .field
                = f.label :bike
                %br/
                = f.check_box :bike
              .field
                = f.label :moped
                %br/
                = f.check_box :moped
              .field
                = f.label :motorcycle
                %br/
                = f.check_box :motorcycle
              %br/
              .actions
                = f.submit
